.button
{
    padding: 14px;
    border-radius: 5px;

    &__primary{
        background-color: #2f69fd;
        color: #FFF;
        border: 0;
    }

    &__secondary{
        background-color: #fff;
        color: #9ea0a2;
        border: 1px solid #9ea0a2;
    }

    &__no-radius-left{
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
}